.menubar {
    width: 100%;
}

.menu {
    background-color: black;
    display: flex;
    margin : 0 auto;
    overflow: hidden;
    list-style:none;
}

.menu-item {
    background-color: rgb(0, 0, 0);
    flex: grow 6;
    transition: 0.5s;
}

.menu-item:hover { /*마우스포인터이벤트*/
        background-color: rgb(72, 72, 72);
}

.menu-link {
        display: block; 
        padding: 16px;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
}

    .menu-link:hover {
        color: white;
}


.wrap{
    background-color: white;
    width: 1520px;
    height: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.profile-section {
    display: flex;
    flex-direction: row;
    justify-content: center; /*센터로 붙여주는거??*/
    align-items: flex-start; /*수직..?박스*/
    margin: 100px 100px;
}

#profile-images {
    width: 400px;
    margin-left: 65px;
}


.introduction>h1 {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    margin-left: 35px;
}


.introduction>p {
    font-family: 'Gowun Batang', serif;
    font-weight: 340;
    font-size: 18px;
    margin-bottom: 45px;
    margin-left: 35px;
}

#like {
    font-family: 'Gowun Batang', serif;
    font-weight:40px;
    font-size:20px;
    font-style: italic;
    padding-left: 0px;
    line-height: 28px

}

footer {
    display: flex;
    justify-content: center;
}


h6 {
    color: gray;
    display: flex;
    justify-content: center;
}